<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gt.examsystem.mapper.QuestionBankMapper">
    <!-- 解决表名与字段不匹配 -->

    <resultMap type="com.gt.examsystem.entity.QuestionBankInfo" id="resultMap">
        <id property="questionId" column="questionId"/>
        <result property="questionTitle" column="questionTitle"/>
        <result property="questionType" column="questionType"/>
        <result property="questionAnswer" column="questionAnswer"/>
        <result property="questionOptionA" column="questionOptionA"/>
        <result property="questionOptionB" column="questionOptionB"/>
        <result property="questionOptionC" column="questionOptionC"/>
        <result property="questionOptionD" column="questionOptionD"/>
        <result property="questionParse" column="questionParse"/>
    </resultMap>

    <insert id="addQuestion">
        INSERT INTO t_question_bank
        (
        questionType,questionTitle,questionAnswer
        ,questionOptionA,questionOptionB,questionOptionC,
        questionOptionD,questionParse
        )
        VALUES
        (
        #{reqAddQuestion.questionType, jdbcType=INTEGER },
        #{reqAddQuestion.questionTitle, jdbcType=VARCHAR },
        #{reqAddQuestion.questionAnswer, jdbcType=VARCHAR },
        #{reqAddQuestion.questionOptionA, jdbcType=VARCHAR },
        #{reqAddQuestion.questionOptionB, jdbcType=VARCHAR },
        #{reqAddQuestion.questionOptionC, jdbcType=VARCHAR },
        #{reqAddQuestion.questionOptionD, jdbcType=VARCHAR },
        #{reqAddQuestion.questionParse, jdbcType=VARCHAR }
        )
    </insert>

    <update id="updateQuestion">
        UPDATE t_question_bank
        SET
        questionType=#{questionType, jdbcType=INTEGER },
        questionTitle=#{questionTitle, jdbcType=VARCHAR },
        questionAnswer=#{questionAnswer, jdbcType=VARCHAR },
        questionOptionA=#{questionOptionA, jdbcType=VARCHAR },
        questionOptionB=#{questionOptionB, jdbcType=VARCHAR },
        questionOptionC=#{questionOptionC, jdbcType=VARCHAR },
        questionOptionD=#{questionOptionD, jdbcType=VARCHAR },
        questionParse=#{questionParse, jdbcType=VARCHAR }
        WHERE questionId = #{questionId ,jdbcType=INTEGER }
    </update>

    <delete id="deleteQuestion">
        DELETE FROM t_question_bank
        WHERE questionId = #{questionId ,jdbcType=INTEGER }
    </delete>

    <select id="selectQuestion" resultMap="resultMap" resultType="com.gt.examsystem.entity.QuestionBankInfo">
        SELECT
        questionType,questionTitle,questionAnswer,questionOptionA,questionOptionB,questionOptionC,questionOptionD,questionParse
        FROM t_question_bank
        WHERE usable_state = 1
        <if test=" questionId != null and questionId != '' ">AND questionId = #{questionId , jdbcType = INTEGER }</if>
        <if test=" questionTitleLike != null and questionTitleLike != '' ">AND questionTitleLike LIKE
            '%#{questionTitle , jdbcType = INTEGER }%'
        </if>
    </select>
</mapper>
