<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gt.examsystem.mapper.QuestionBankMapper">
    <!-- 解决表名与字段不匹配 -->

    <resultMap type="com.gt.examsystem.entity.QuestionBankInfo" id="resultMap">
        <id column="question_id" property="questionId"/>
        <result column="question_title" property="questionTitle"/>
        <result column="question_type" property="questionType"/>
        <result column="question_direction_id" property="questionDirectionId"/>
        <result column="question_answer" property="questionAnswer"/>
        <result column="question_optionA" property="questionOptionA"/>
        <result column="question_optionB" property="questionOptionB"/>
        <result column="question_optionC" property="questionOptionC"/>
        <result column="question_optionD" property="questionOptionD"/>
        <result column="question_parse" property="questionParse"/>
    </resultMap>

    <insert id="addQuestion">
        INSERT INTO t_question_bank
        (
        question_type,question_title,question_answer
        ,question_optionA,question_optionB,question_optionC,
        question_optionD,question_parse,question_direction_id
        )
        VALUES
        (
        #{reqAddQuestion.questionType, jdbcType=INTEGER },
        #{reqAddQuestion.questionTitle, jdbcType=VARCHAR },
        #{reqAddQuestion.questionAnswer, jdbcType=VARCHAR },
        #{reqAddQuestion.questionOptionA, jdbcType=VARCHAR },
        #{reqAddQuestion.questionOptionB, jdbcType=VARCHAR },
        #{reqAddQuestion.questionOptionC, jdbcType=VARCHAR },
        #{reqAddQuestion.questionOptionD, jdbcType=VARCHAR },
        #{reqAddQuestion.questionParse, jdbcType=VARCHAR },
        #{reqUpdateQuestion.questionDirectionId,jdbcType=INTEGER}

        )
    </insert>

    <update id="updateQuestion">
        UPDATE t_question_bank
        SET
        question_type=#{reqUpdateQuestion.questionType, jdbcType=INTEGER },
        question_title=#{reqUpdateQuestion.questionTitle, jdbcType=VARCHAR },
        question_answer=#{reqUpdateQuestion.questionAnswer, jdbcType=VARCHAR },
        question_optionA=#{reqUpdateQuestion.questionOptionA, jdbcType=VARCHAR },
        question_optionB=#{reqUpdateQuestion.questionOptionB, jdbcType=VARCHAR },
        question_optionC=#{reqUpdateQuestion.questionOptionC, jdbcType=VARCHAR },
        question_optionD=#{reqUpdateQuestion.questionOptionD, jdbcType=VARCHAR },
        question_parse=#{reqUpdateQuestion.questionParse, jdbcType=VARCHAR },
        question_direction_id=#{reqUpdateQuestion.questionDirectionId,jdbcType=INTEGER}
        WHERE question_id = #{reqUpdateQuestion.questionId ,jdbcType=INTEGER }
    </update>

    <delete id="deleteQuestion">
        DELETE FROM t_question_bank
        WHERE question_id = #{questionId ,jdbcType=INTEGER }
    </delete>

    <select id="selectQuestion" resultMap="resultMap" resultType="com.gt.examsystem.entity.QuestionBankInfo">
        SELECT
        *
        FROM t_question_bank
        WHERE usable_state = 1
        <if test=" reqSelectQuestion.questionId != null and reqSelectQuestion.questionId != '' "> AND question_id =
            #{reqSelectQuestion.questionId , jdbcType = INTEGER }
        </if>
        <if test=" reqSelectQuestion.questionTitleLike != null and reqSelectQuestion.questionTitleLike != '' "> AND
            question_title LIKE
            '%'||'#{reqSelectQuestion.questionTitleLike , jdbcType = VARCHAR }'||'%'
        </if>
        <if test=" reqSelectQuestion.questionDirectionId != null and reqSelectQuestion.questionId != '' "> AND question_direction_id =
            #{reqSelectQuestion.questionDirectionId , jdbcType = INTEGER }
        </if>
    </select>

    <select id="selectQuestionById" resultMap="resultMap" resultType="com.gt.examsystem.entity.QuestionBankInfo">
        select * from t_question_bank where usable_state = 1
        AND id in
        <if test=" questionId != null and questionId.size()> 0 "> question_id IN
        <foreach collection="questionId" index="index" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
        </if>>
    </select>

</mapper>
